<% layout("/layouts/boilerplate"); %>
<br>
<div class="row">
    <div class="alert alert-danger col-8 offset-2" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p><%= message %></p>
        <hr>
        <p class="mb-0">"Something went wrong. Please try again later. If the problem persists, contact support."</p>
      </div>
</div>